[submodule "external/swe-bench"]
	path = external/swe-bench
	url = https://github.com/swe-bench/SWE-bench
[submodule "external/mini-swe-agent"]
	path = external/mini-swe-agent
	url = https://github.com/SWE-agent/mini-swe-agent
[submodule "external/tau2-bench"]
	path = external/tau2-bench
	url = https://github.com/sierra-research/tau2-bench
